.bg-gradient {
	background: #4776e6;
	background: -webkit-linear-gradient(to right, #4776e6, #8e54e9);
	background: linear-gradient(to right, #4776e6, #8e54e9);
	background-attachment: fixed;
	background-repeat: no-repeat;
}