.settings-menu {
	li {
		a {
			padding: 10px 15px;
			color: white;
			display: block;
			text-decoration: none;
			transition: all 0.3s linear;
			font-size: 95%;
		}
		
		&:first-child {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			a {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
}

.no-touch .settings-menu li a:hover {
	background: rgba(255, 255, 255, 0.1);
}