.settings-body {
	color: white;
	background: rgba(32, 53, 102, 0.2);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	p {
		margin: 0;
	}
}

.settings-form {
	fieldset:last-of-type {
		&.fieldset--has-error {
			margin-bottom: 10px;
		}	
	}

	.settings-form__cancel {
		margin-left: 5px;
	}
}
