@import '../imports';

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.form-error, .field-error {
	display: inline-block;
	color: #777;
	float: left;
	padding: 0;
}

.field-error {
	padding-left: 12px;
	margin-top: 8px;
}

.form-error {
	padding-left: 12px;
	margin-bottom: 10px;
}

.form--purple {

	.field-error {
		color: white;
		font-size: 80%;
		margin-top: 0px;
	}

	.field {
		background: rgba(32, 53, 102, 0.6);
		border: 0px;
		margin: 10px 0;
		color: white;
		font-size: 90%;

		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color: rgba(255, 255, 255, 0.8);
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: rgba(255, 255, 255, 0.8);
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: rgba(255, 255, 255, 0.8);
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: rgba(255, 255, 255, 0.8);
		}
		&::-ms-input-placeholder { /* Microsoft Edge */
			color: rgba(255, 255, 255, 0.8);
		}

		&:focus {
			background: #203566;
		}
	}

}
