.sans-serif {
	font-family: 'Assistant', 'Lucida Grande', sans-serif;
}

.serif {
	font-family: georgia, times, serif;
}

.assistant {
	font-family: 'Assistant';
}

.lucida-grande {
	font-family: 'Lucida Grande';
}

.open-sans {
	font-family: 'Open Sans';
}