@mixin transition($property, $duration, $type: ease) {
	-webkit-transition: $property $duration $type;
    -moz-transition: $property $duration $type;
    -o-transition: $property $duration $type;
    transition: $property $duration $type;
}