@import '../../css/imports';

.auth-form {
	color: $faint-blue;
	position: relative;

	h3 {
		margin-bottom: 10px;
		text-align: center;
		font-size: $normal;
	}

	fieldset {
		padding: 10px 0 23px;
	}

	.fieldset--has-error {
		padding-bottom: 0px;
	}

	.btn {
		margin-top: 10px;
		font-size: $small;

		&:focus {
			outline: none;
		}
	}

	.form-error {
		float: none;
		margin-bottom: 0px;
		margin-top: 14px;
		font-size: .7rem;
		display: block;
		text-align: center;
		padding-left: 0;
	}

	.field-error {
		font-size: .75rem;
	}

	.form-error, .field-error {
		color: $error-red;
	}
}
