.item {
	display: block;
	background: rgba(255, 255, 255, 0.1);

	&:first-child, &:first-child .item-header {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&:last-child, &:last-child .item-header, &:last-child .item-body {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

.item.item--open {
	&:last-child .item-header {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

.item-header {
	padding: 7px 15px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.no-touch .item-header:hover {
	background: rgba(255, 255, 255, 0.12);
}

.item-title {
	color: white;
}

.item-body {
	background: rgba(32, 53, 102, 0.2);
	padding: 10px 15px;
	color: white;
}

.item-date {
	font-size: 80%;
}

.item-body-menu {
	position: relative;
}

.item-mark-complete, .item-edit {
	color: white;	
}

.item-content {
	padding: 10px;
}

.item-mark-complete-confirm, .item-mark-complete {
	position: absolute;
	right: 15px;
}