$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
$box-shadow--inset: $box-shadow inset;
$box-shadow--medium: 0px 6px 18px 0px rgba(50, 50, 93, 0.4);
$box-shadow--large: 0px 15px 35px 0px rgba(50, 50, 93, 0.4);

$box-shadow--light: 0 1px 4px rgba(0, 0, 0, .04);