/* greys */

$nicest-background-grey: rgb(246, 249, 252);

$milk-grey: #FCFCFC;
$box-grey: #ccc;
$light-grey: #ddd;
$muted-grey: #777;
$midnight-grey: #333;
$blueish-grey: #f8f8f8;
$faint-grey: #A6A7A7;

/* whites */

$white: #fff;
$spaceship-white: #fefefe;
$blue-white: #fafafa;

/* beiges */
$beige: #FCFAF9;

/* blues */
$blue: #348eda;
$blue-active: #3e5f9b;
$purply-blue: #f7f7f9;
$faint-blue: #6F8199;
$dark-blue: #2E3D59;

/* purples */
$purple: #6772e5;
$dark-purple: #79589F;

/* reds */
$error-red: #be1c1f;