$colors: (
	white: #fff,
	baby-blue-white: #fcfcfc,
	darkest-blue: #2E3D59,
	darker-blue: #2C375D,
	dark-blue: #3C4381,
	blue: #4776e6,
	light-blue: #96ccff,
	lighter-blue: #EAF5FF,
	faint-blue: #6F8199,

	darker-purple: #5451b0,
	dark-purple: #79589F,
	purple: #8e54e9,
	light-purple: #7d71e6,
	lighter-purple: #BEB9EA,

	midnight-grey: #333,
	slate-grey: #5B6271,
	dark-grey: #535166,
	grey: #96a3b6,
	light-grey: #ccc,
	lighter-grey: #CBCBD2,

	spaceship-white: #fefefe,
	error-red: #be1c1f,

	transparent: transparent
);